:root {
    --arrow-size: 130px;
    --osc-size: 60px;
    --osc-period: 2s;
    --thumbnail-size: 90px;
}

body {
    margin: 0;
}

#outer-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#bio-wrapper {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;

    background: url("/static/img/stars.gif");
    color: white;
}

#bio {
    margin: 1em;
    max-width: 8em;

    font-family: Work Sans;
    font-size: 48pt;
    display: inline-block;
    vertical-align: top;
}

#pages-list-wrapper {
    display: inline-block;
    width: 50%;
    
    font-family: Taviraj;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;

    background: repeating-linear-gradient(#000, #ddd, #000);
    background-size: 1px var(--osc-size);
    animation: scroll-osc-y 1s linear infinite;
    
}

.article-link {
    text-decoration: none;
    text-shadow: -1px -1px white, 1px -1px white, 1px 1px white, -1px 1px white;
    display: flex;
    

    color: black;
    padding: 15px;
    margin: 15px 30px;

    background: white;
    border: 3px ridge black;
}

.article-link:hover {
    background-image: url("/static/img/look.gif");
    background-size: 90px 90px;
    background-position: center center;
}

.article-thumbnail {
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
    background: black;
    border: 3px ridge;
}

.article-thumbnail img {
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
    object-fit: contain;
}

.article-details {
    margin: 10px 20px;
    line-height: 1.75em;
}

.article-date {
    font-size: 10pt;
    line-height: 1.25em;
}

.article-title {
    font-size: 18pt;
    text-decoration: underline;
}

.arrows-wrapper {
    height: 100%;
    float: right;
    margin: 0 50px;
    display: grid;
    align-content: space-around;
}

@supports (mask-image: url()) {
    .arrow {
        display: block;
        width: var(--arrow-size);
        height: var(--arrow-size);

        background: repeating-linear-gradient(90deg, #fff, #222, #fff);
        background-size: var(--osc-size) 150px;
        animation: scroll-osc-x var(--osc-period) linear infinite;
        mask-image: url("/static/img/arrow.svg");
    }
    
    .arrow image {
        display: none;
    }
}

@supports not (mask-image: url()) {
    .arrow {
        display: block;
        width: var(--arrow-size);
        height: var(--arrow-size);

        background: repeating-linear-gradient(90deg, #fff, #222, #fff);
        background-size: var(--osc-size) 150px;
        animation: scroll-osc-x var(--osc-period) linear infinite;
    }
    
    .arrow image {
        width: var(--arrow-size);
        height: var(--arrow-size);
    }
}

@keyframes scroll-osc-x {
    100% {
        background-position-x: var(--osc-size);
    }
}

@keyframes scroll-osc-y {
    100% {
        background-position-y: var(--osc-size);
    }
}