:root {
    --arrow-size: 100px;
    --osc-size: 60px;
    --osc-period: 2s;
    --thumbnail-size: 72px;

    --accent-color: #c59cff;
}

html {
    background: url("/static/img/templates/stars.gif");

    color: white;
}

body {
    margin: 0 auto;
    max-width: 600px;
}

hr {
    border: none;
    border-bottom: 1px solid #cdcdcd;
}

#bio {
    margin: 1em;

    font-family: Work Sans;
    font-size: 2rem;
}

#pages-list-wrapper {
    display: inline-block;
    font-family: Taviraj;
}

.article-link {
    text-decoration: none;
    display: flex;

    padding: 8px;
    margin: 20px;

    color: #fff;
    border: 3px ridge transparent;

    font-family: Work Sans;
}

.article-link:hover {
    border-color: #aaa;
}

/*
.article-thumbnail {
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
    background: url("/static/img/templates/stars.gif");
}
*/

.article-thumbnail img {
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
    object-fit: contain;
}

.article-details {
    margin: auto 10px;
    width: 100%;
}

.article-title {
    font-size: 1.25rem;
    color: var(--accent-color);

    margin-bottom: 0.25rem;
}

.article-date {
    font-size: 1rem;
    line-height: 1.25em;
    margin-bottom: 0.25rem;

}

.article-blurb {
    font-size: 1rem;
    line-height: 1.25em;
}

@keyframes scroll-osc-x {
    100% {
        background-position-x: var(--osc-size);
    }
}

@keyframes scroll-osc-y {
    100% {
        background-position-y: var(--osc-size);
    }
}
