.content-header {
    font-family: var(--header-font);
    background: white;
    
    margin: 1rem;
    padding: 1rem;

    font-size: 1rem;
    text-align: center;
}

#projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-link {
    text-decoration: none;
    font-family: var(--header-font);
    
    margin: 0.25rem 1em;
    width: 100%;
    
    background: var(--light);
    color: var(--dark);
    
    padding: 1rem;
}

@media only screen and (max-width: 700px) {
    .project-body {
        flex-direction: column;
    }
}

.project-name {
    text-transform: none;
    
    width: fit-content;
    font-weight: bold;
}

.project-blurb {
    text-transform: none;
}

.project-body {
    display: flex;
}

.project-stats {
    min-width: fit-content;
    height: fit-content;
    
    border-collapse: collapse;
}

.project-stats .stat-name {
    vertical-align: top;
    width: 8rem;
    text-transform: capitalize;
}

.stat-name::after {
    content: ":";
}

.project-stats .stat-value {
    width: 9em;
    text-transform: uppercase;
}

