.content {
    font-family: "0xProto";
}

.content-header {
    margin: 1rem;

    font-size: 1rem;
    text-align: center;
}

#projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-link {
    text-decoration: none;
    font-family: var(--header-font);
    
    border: 1px solid white;
    display: flex;
    flex-flow: column;
    
    margin: 1em;
    width: 16rem;
    
    background: var(--light);
    color: var(--dark);
    
    padding: 0.5rem;
}

.project-link:hover,
.project-link:focus,
.project-link:active {
    background: var(--dark);
    color: var(--light);
}

.project-name {
    text-decoration: underline;
}

.project-blurb {
    /*! font-size: 0.9rem; */
    
    flex-grow: 1;
}

.project-thumbnail {
    width: 100%;
    height: 10rem;
    background: var(--dark);
    align-content: center;
    
    display: none;
}

.project-link:hover .project-thumbnail,
.project-link:focus .project-thumbnail,
.project-link:active .project-thumbnail {
    background: var(--light);
}


img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    
    filter: grayscale(1);
}

.project-link:hover img,
.project-link:focus img,
.project-link:active img {
    filter: none;
} 


