<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{ title }}
    </title>


    <link rel="stylesheet" type="text/css" href="/static/style/common.css">
    <link rel="stylesheet" type="text/css" href="/static/style/article.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/base16/gigavolt.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    {{#syntax}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/{{.}}.min.js"></script>
    {{/syntax}}

    {{#include-script}}
    <script type="text/javascript" src="{{.}}"></script>
    {{/include-script}}

    <script type="text/javascript">
        hljs.highlightAll();
    </script>
</head>

<body>
    <div id="page-wrapper">
        {{> partials/navbar }}
        <div class="content">
            <div id="article-title">
                {{ title }}
            </div>
            <div id="date">
                {{ date-pretty }}
            </div>
            {{{ body }}}
        </div>
        <div id="spacer"></div>

        <!--
        <div class="marquee">
            <div id="footer-inner">
                <span class="marquee-item">
                    <span>
                        thank you for reading
                    </span>
                    <img src="/static/img/templates/heart.gif"></img>
                </span>
                <span class="marquee-item">
                    <span>
                        please come back soon
                    </span>
                    <img src="/static/img/templates/wave.gif"></img>
                </span>
            </div>
            <script type="text/javascript">
                // duplicate the spans in the footer marquee 8 times
                let footer = document.getElementById("footer-inner");
                footer.innerHTML = footer.innerHTML.repeat(8);
            </script>
        </div>
        -->
    </div>
</body>

</html>