<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/style/common.css">
    <link rel="stylesheet" type="text/css" href="/static/style/blog.css">

    <script>
        let pages = [
            {{#pages}}
            {
                url: "{{_url}}",
                title: "{{title}}",
                blurb: "{{blurb}}",
                thumbnail: "/static/img/thumbnails/{{thumbnail}}",
                date: "{{date}}",
                datePretty: "{{date-pretty}}",
                template: "{{template}}",
            },
            {{/pages}}
        ];

        function populatePageList() {
            pages.sort((a, b) => (b.date.localeCompare(a.date)));

            let listWrapper = document.getElementById("pages-list-wrapper");
            listWrapper.innerHTML = "";
            for (const a of pages) {
                if (a.template != "article.html") continue;

                let articleHTML = `
                <a class="article-link" href="${a.url}">
                    <div class="article-date">${a.date}</div>
                    <div class="spacer"></div>
                    <div class="article-title">${a.title}</div>
                </a>
                `
                listWrapper.innerHTML += articleHTML;
            }
        }

        document.addEventListener("DOMContentLoaded", populatePageList);
    </script>
</head>
<body>
    <div class="nav-bar">
        <a class="bracket-link" href="/">
            about
        </a>
        <a class="bracket-link" href="/projects.html">
            projects
        </a>
        <a class="bracket-link" href="/blog.html">
            blog
        </a>
    </div>

    <div class="content">
        <div class="content-header">
            BLOG
        </div>

        <div id="pages-list-wrapper">
            <!-- Article links are dynamically generated and put here -->
        </div>
    </div>
</body>

</html>
