<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/style/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Taviraj&family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css" rel="stylesheet" />


    <script>
        let articles = [
            {{#pages}}
            {
                url: "{{_url}}",
                title: "{{title}}",
                blurb: "{{blurb}}",
                thumbnail: "/static/img/thumbnails/{{thumbnail}}",
                date: "{{date}}",
                datePretty: "{{date-pretty}}",
            },
            {{/pages}}
        ];

        function populatePageList() {
            articles.sort((a, b) => (b.date.localeCompare(a.date)));

            let listWrapper = document.getElementById("pages-list-wrapper");
            listWrapper.innerHTML = "";
            for (const a of articles) {
                let articleHTML = `
                <a class="article-link" href="${a.url}">
                    <div class="article-thumbnail">
                        <img src="${a.thumbnail}" />
                    </div>
                    <div class="article-details">
                        <div class="article-title">${a.title}</div>
                        <div class="article-date">${a.datePretty}</div>
                        <div class="article-blurb">${a.blurb}</div>
                    </div>
                </a>
                `
                listWrapper.innerHTML += articleHTML;
            }
        }

        document.addEventListener("DOMContentLoaded", populatePageList);
    </script>
</head>
<body>
    <div id="outer-wrapper">
        <div id="bio-wrapper">
            <div id="bio">
                Hi my name is Jesse.
                This is where I write about the stuff I'm working on.
            </div>
            <div class="arrows-wrapper">
                <svg class="arrow">
                    <image href="/static/img/templates/arrow_neg.svg" />
                </svg>
                <svg class="arrow">
                    <image href="/static/img/templates/arrow_neg.svg" />
                </svg>
                <svg class="arrow">
                    <image href="/static/img/templates/arrow_neg.svg" />
                </svg>
                <svg class="arrow">
                    <image href="/static/img/templates/arrow_neg.svg" />
                </svg>
                <svg class="arrow">
                    <image href="/static/img/templates/arrow_neg.svg" />
                </svg>
            </div>
        </div>

        <div id="pages-list-wrapper">
            <!-- Article links are dynamically generated and put here -->
        </div>
</body>

</html>
