<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>projects</title>

    <link rel="stylesheet" type="text/css" href="/static/style/common.css">
    <link rel="stylesheet" type="text/css" href="/static/style/projects.css">

    <script>
        let projects = [
            {{#projects}}"{{repo_name}}",{{/projects}}
        ];

        function populateDateFields() {
            for (const repoName of projects) {
                fetch(`https://api.github.com/repos/jehoz/${repoName}/commits`)
                    .then(res => res.json())
                    .then(data => {
                        let created = data[data.length - 1]["commit"]["committer"]["date"].split("T")[0];
                        document.getElementById(`${repoName}-created`).innerHTML = created;

                        let updated = data[0]["commit"]["committer"]["date"].split("T")[0];
                        document.getElementById(`${repoName}-updated`).innerHTML = updated;
                    })
                    .catch(error => console.error(error));
                }
        }

        document.addEventListener("DOMContentLoaded", populateDateFields);
    </script>
</head>

<body>
    <div class="nav-bar">
        <a class="nav-button" href="/">
            about
        </a>
        <a class="nav-button" href="/projects.html">
            projects
        </a>
        <a class="nav-button" href="/blog.html">
            blog
        </a>
    </div>
    <div class="content">
        <div class="content-header">
            PROJECTS
        </div>
        {{#projects}}
        <div class="project-wrapper">
            <div class="project-header">
                <div class="project-name">{{repo_name}}</div>
                <a class="project-link" href="https://github.com/jehoz/{{repo_name}}">[source code]</a>
            </div>
            <div class="project-body">
                <table class="project-stats">
                    <tr>
                        <td class="stat-name">created</td>
                        <td id="{{repo_name}}-created"  class="stat-value">...</div>
                    </tr>
                    <tr>
                        <td class="stat-name">updated</td>
                        <td id="{{repo_name}}-updated"  class="stat-value">...</div>
                    </tr>
                    <tr>
                        <td class="stat-name">built in</td>
                        <td class="stat-value">{{built-in}}</div>
                    </tr>
                    <tr>
                        <td class="stat-name">category</td>
                        <td class="stat-value">{{category}}</div>
                    </tr>
                </table>
                <div class="project-blurb">{{blurb}}</div>
            </div>
        </div>
        {{/projects}}
    </div>
</body>

</html>
