<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>projects</title>

    <link rel="stylesheet" type="text/css" href="/static/style/common.css">
    <link rel="stylesheet" type="text/css" href="/static/style/software.css">

    <script>
        let projects = [
            {{#projects}}"{{repo_name}}",{{/projects}}
        ];

        function populateDateFields() {
            for (const repoName of projects) {
                fetch(`https://api.github.com/repos/jehoz/${repoName}/commits`)
                    .then(res => res.json())
                    .then(data => {
                        let created = data[data.length - 1]["commit"]["committer"]["date"].split("T")[0];
                        document.getElementById(`${repoName}-created`).innerHTML = created;

                        let updated = data[0]["commit"]["committer"]["date"].split("T")[0];
                        document.getElementById(`${repoName}-updated`).innerHTML = updated;
                    })
                    .catch(error => console.error(error));
                }
        }

        document.addEventListener("DOMContentLoaded", populateDateFields);
    </script>
</head>

<body>
    {{> partials/navbar }}
    <div class="content">
        <div class="content-header">
            SOFTWARE
        </div>
        {{#projects}}
        <div class="project-wrapper">
            <div class="project-header">
                <a class="project-name bracket-link" href="https://github.com/jehoz/{{repo_name}}">
                    {{repo_name}}
                </a>
            </div>
            <div class="project-body">
                <table class="project-stats">
                    <tr>
                        <td class="stat-name">created
                            <div class="dot-spacer"></div>
                        </td>
                        <td id="{{repo_name}}-created"  class="stat-value">XXXX-XX-XX</div>
                    </tr>
                    <tr>
                        <td class="stat-name">last update
                            <div class="dot-spacer"></div>
                        </td>
                        <td id="{{repo_name}}-updated"  class="stat-value">XXXX-XX-XX</div>
                    </tr>
                    <tr>
                        <td class="stat-name">built in
                            <div class="dot-spacer"></div>
                        </td>
                        <td class="stat-value">{{built-in}}</div>
                    </tr>
                </table>
                <div class="project-blurb">
                    {{blurb}}
                    {{#article}}
                        <a class="bracket-link read-more-link" href="{{.}}">read more</a> </td>
                    {{/article}}
                </div>
            </div>
        </div>
        {{/projects}}
    </div>
</body>

</html>
