<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SYNTH</title>

    <link rel="stylesheet" type="text/css" href="/static/style/common.css">
    <link rel="stylesheet" type="text/css" href="/static/style/synth.css">

</head>

<body>
    {{> partials/navbar }}
    <div class="content">
        <div class="content-header">
            I am building a modular synthesizer totally from scratch!
            <br>
            I'm still in the very early stages of this long-term project, so expect to see more here very soon...
        </div>
        {{#modules}}
        <div class="module-wrapper">
            <img src="{{thumbnail}}" class="module-thumbnail" />
            <div class="module-info">
                <div class="module-name">{{name}}</div>
                <div class="module-size">{{size}}</div>
                <div class="module-blurb">{{blurb}}
                    {{#link}}
                    <a class="bracket-link read-more-link" href="{{.}}">details</a> </td>
                    {{/link}}
                </div>
            </div>
        </div>
        {{/modules}}
    </div>
</body>

</html>