<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SYNTH</title>

    <link rel="stylesheet" type="text/css" href="/static/style/common.css">
    <link rel="stylesheet" type="text/css" href="/static/style/synth.css">

</head>

<body>
    {{> partials/navbar }}
    <div class="content">
        <div class="content-header">
            In an effort to learn more about electronics, I'm building a modular synthesizer 
            totally from scratch.
            <br>
            I forsee this being a pretty long-term project and I'm still in the very early stages right now,
            so expect to see more here very soon!
        </div>
        {{#modules}}
        <div class="module-wrapper">
            <img src="{{thumbnail}}" class="module-thumbnail" />
            <div class="module-info">
                <div class="module-name">{{name}}</div>
                <div class="module-size">{{size}}</div>
                <div class="module-blurb">{{blurb}}</div>
            </div>
        </div>
        {{/modules}}
    </div>
</body>

</html>
