body {
    font-family: var(--body-font);
    color: var(--dark);
}

.content {
    padding: 1rem 3rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 700px) {
    .content {
        padding: 1rem 2rem;
    }
}


a {
    color: #dd2c03;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

pre,
code {
    font-family: var(--code-font);
}

:not(pre) > code {
    padding: 0.1em;
    font-style: italic;
    font-weight: bold;
    color: var(--dark);
}

pre code {
    display: inline;
    margin: 0;
    padding: 0;

}

.content img,
.content video {
    display: block;
    margin: 1.5rem auto;
    max-width: 100%;
}

.content blockquote {
    margin: 0;
    padding: 0.25em 1em;
    color: var(--light);
    background: var(--dark);
}

#date {
    font-family: var(--header-font);
    color: #888;
    font-size: 1rem;
    margin: 1rem 0;
}

#article-title {
    font-family: var(--header-font);
    font-size: 2rem;
    font-weight: 800;
    width: fit-content;
    margin: 0.5em auto;
    text-align: center;
    line-height: 1.25;
}

#spacer {
    flex: 1;
}

/* 
.marquee {
    height: 1.5rem;
    width: 100%;

    overflow: hidden;
    position: relative;

    margin: 0;

    padding: 0.25em 0;
    box-sizing: content-box;

    background: white;
    color: black;

    font-family: var(--header-font);
    font-size: 0.85rem;
}

.marquee div {
    display: block;
    width: 200%;
    height: 1.5rem;


    position: absolute;
    overflow: hidden;

    animation: marquee 8s linear infinite;
}

.marquee span {
    float: left;
    margin: 0 auto;

    text-align: center;
}

.marquee-item {
    width: 15rem;
    height: 1.5rem;
    line-height: 1.5rem;

    display: flex;
    justify-content: space-between;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-30rem);
    }
} 
*/

