
.content {
    font-family: var(--header-font);
}

.content-header {
    margin: 1rem;

    font-size: 1rem;
    text-align: center;
}

#pages-list-wrapper {
    display: inline-block;
}

.article-link {
    text-decoration: none;
    display: flex;

    margin: 0.5rem;
    padding: 0.5rem 1rem;

    color: var(--dark);

    flex-direction: column;
}

.article-link:hover {
    background: var(--dark);
    color: var(--light);
}


.article-thumbnail img {
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
    object-fit: contain;
    display: none;
}

.article-details {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.article-title {
/*     text-decoration: underline; */
}

.article-date {
    min-width: fit-content;
}

.spacer {
    word-wrap: break-word;
    overflow: hidden;
    height: 1.5em;
    text-align: end;
    flex: 1;
}

.spacer::after {
    content: ".....................................................................";
}

