.content {
    font-family: var(--header-font);
}

.content-header {
    margin: 1rem;

    font-size: 1rem;
    text-align: center;
}

#pages-list-wrapper {
    display: inline-block;
}

.article-link {
    text-decoration: none;
    display: flex;

    margin: 0.5rem;
    padding: 0.5rem 1rem;

    color: var(--dark);

    flex-direction: column;
}

.article-link:hover {
    background: var(--dark);
    color: var(--light);
}


.article-thumbnail img {
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
    object-fit: contain;
    display: none;
}

.article-details {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.article-title {
/*     text-decoration: underline; */
}

.article-title::before {
    content: "[ ";
    color: #777;
}

.article-title::after {
    content: " ]";
    color: #777;
}

.article-date {
    min-width: fit-content;
}

.date-spacer {
    word-wrap: break-word;
    overflow: hidden;
    height: 1.5em;
    text-align: end;
    color: #eee;
    flex: 1;
    letter-spacing: 0.25rem;
}

.date-spacer::after {
    content: "......................................";
}

.article-link:hover .date-spacer {
    display: none;
}

.article-blurb {
    font-size: 0.9rem;
    line-height: 1.25em;
    
    display: none;
}

