@font-face {
    font-family: "0xProto";
    src: url("/static/fonts/0xProto/0xProto-Regular.woff2");
}

:root {
    --header-font: '0xProto', monospace;
    --body-font: 'Work Sans', sans-serif;
    --code-font: '0xProto', monospace;
    
    --dark: #222323;
    --light: #fff;
}

* {
    box-sizing: border-box;
    word-break: break-word;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    line-height: 1.5;
    height: 100%;

    background: url("/static/img/templates/stars_desat.gif");
    color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    color: var(--dark);
    font-weight: normal;
    line-height: 1.25;
    margin: 2.5rem 0 1.5rem 0;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4, h5, h6 {
    font-size: 1rem;
}

p {
    margin: 1em 0;
}

ol,
ul {
    margin: 1em;
}

ol li ol,
ol li ul,
ul li ol,
ul li ul {
    margin: 0 2em;
}

ol li p,
ul li p {
    margin: 0;
}

.nav-bar {
    margin: 0 auto;
    display: flex;
    position: sticky;
    top: 0;
    background: var(--light);
    width: 100%;

    border-bottom: 1px solid var(--dark);
    align-content: center;
}

.nav-button {
    color: var(--dark);
    font-family: var(--header-font);
    font-size: 1rem;
    text-decoration: none;

    display: table-cell;
    width: 8rem;
    text-align: center;
    padding: 0.25rem;
}

.nav-button:hover {
    color: var(--light);
    background: var(--dark);
    text-decoration: none;
}

.under-construction {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("/static/img/construction.gif");
}

