@import url('/static/fonts/Iosevka/Iosevka.css');
@import url('/static/fonts/IosevkaAile/IosevkaAile.css');

:root {
    --header-font: 'Iosevka Web', monospace;
    --body-font: 'Iosevka Aile Web', sans-serif;
    --code-font: 'Iosevka Web', monospace;
    
    --dark: #222323;
    --light: #fff;
    
    --content-width: 800px;
}

* {
    box-sizing: border-box;
    word-break: break-word;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    line-height: 1.5;
    height: 100%;

    background: url("/static/img/templates/stars_desat.gif");
    color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    color: var(--dark);
    font-weight: heavy;
    line-height: 1.25;
    margin: 2.5rem 0 1.5rem 0;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4, h5, h6 {
    font-size: 1rem;
}

p {
    margin: 1em 0;
}

ol,
ul {
    margin: 1em;
}

ol li ol,
ol li ul,
ul li ol,
ul li ul {
    margin: 0 2em;
}

ol li p,
ul li p {
    margin: 0;
}

.bracket-link {
    color: var(--dark);
    font-family: var(--header-font);
    text-decoration: none;
    
    display: flex;
    width: fit-content;
}

.bracket-link::before {
    content: "[";
}

.bracket-link::after {
    content: "]";
}

.bracket-link:hover {
    color: var(--light);
    background: var(--dark);
    text-decoration: none;
}

.nav-bar {
    margin: 0 auto;
    display: flex;
    position: sticky;
    top: 0;
    background: var(--light);
    max-width: var(--content-width);

    border-bottom: 1px solid var(--dark);
    align-content: center;
    justify-content: center;
}

.nav-bar .bracket-link {
    text-align: center;
    padding: 0.25rem 1rem;
}

.content {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 1rem;
    background: var(--light);
    color: var(--dark);
}

@media only screen and (max-width: 700px) {
    .content {
        margin: 0;
        padding: 0.5rem 0;
    }

    .nav-bar .bracket-link {
        padding: 0.25rem;
    }
}

.under-construction {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("/static/img/construction.gif");
}

