.content {
    max-width: 900px;
    margin: 4rem auto;
    padding: 1rem;
    font-family: "0xProto";
    background: var(--light);
    color: var(--dark);
}

.content-header {
    margin: 1rem;

    font-size: 1rem;
    text-align: center;
}

#pages-list-wrapper {
    display: inline-block;
}

.article-link {
    text-decoration: none;
    display: flex;

    margin: 0.5rem;
    padding: 0.5rem;

    color: var(--dark);

}

.article-link:hover {
    background: var(--dark);
    color: var(--light);
}


.article-thumbnail img {
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
    object-fit: contain;
    display: none;
}

.article-details {
    width: 100%;
    border-left: 1px solid;
    padding: 0 0.5rem;
}

.article-title {
    text-decoration: underline;
}

.article-date {
    width: 11rem;
    text-align: center;
    border-right: none;
}

.article-blurb {
    line-height: 1.25em;
}
