html {
    background: url("/static/img/templates/stars.gif");

    color: white;
}

body {
    margin: 0 auto;
    max-width: 600px;
}

hr {
    border: none;
    border-bottom: 1px solid #cdcdcd;
}

#bio {
    margin: 1em;

    font-family: Work Sans;
    font-size: 2rem;
}

#pages-list-wrapper {
    display: inline-block;
    font-family: Taviraj;
}

.article-link {
    text-decoration: none;
    display: flex;

    margin: 20px;

    color: #fff;
    border-color: white;

    font-family: Work Sans;
}

.article-link:hover {
    background: white;
    color: black;
    
    border-color: black;
}


.article-thumbnail img {
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
    object-fit: contain;
    display: none;
}

.article-details {
    width: 100%;
    border: 1px solid;
}

.article-title {
    font-size: 1.1rem;
    color: #000;
    background: white;
    font-weight: bold;

    padding: 0.25rem 0.5rem;
}

.article-link:hover .article-title {
    color: white;
    background: black;
}

.article-date {
    width: 5rem;
    text-align: center;
    border: 1px solid;
    align-content: center;
    border-right: none;
}

.article-blurb {
    font-size: 1rem;
    line-height: 1.25em;
    padding: 0.5rem;
}

