.content-header {
    font-family: var(--header-font);
    
    margin: 1rem;

    font-size: 1rem;
    text-align: center;
}

.project-wrapper {
    text-decoration: none;
    font-family: var(--header-font);
    
    margin: 0.25rem 1em;
    
    background: var(--light);
    color: var(--dark);
    
    padding: 1rem;
}

@media only screen and (max-width: 700px) {
    .project-body, .project-header {
        flex-direction: column;
    }
    
    .project-blurb {
        padding-top: 1rem;
    }
    
    .project-stats {
        width: fit-content;
    }
}

.project-header {
    display: flex;
    justify-content: space-between;
}

.project-name {
    width: fit-content;
    font-weight: 600;
}

.project-blurb {
    font-style: italic;
}

.read-more-link {
    margin: 1em 0 0 auto;
}

.project-body {
    display: flex;
}

.project-stats {
    min-width: fit-content;
    height: fit-content;
    
    border-collapse: collapse;
}

.project-stats .stat-name {
    vertical-align: top;
    width: 7.5rem;
    
    display: flex;
}

.dot-spacer {
    word-wrap: break-word;
    overflow: hidden;
    height: 1.5em;
    text-align: end;
    flex: 1;
}

.dot-spacer::after {
    content: "............................";
    font-weight: 200;
}

.project-stats .stat-value {
    width: 7.5em;
    text-transform: uppercase;
}
